<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all-w1.css">
    <style type="text/css"></style>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<body>
    <!-- 
https://xd.adobe.com/view/ea9b77e8-282b-44dd-b785-8d59a751eeda-bfc8/

https://tzuhui.github.io/2020/01/08/HTML/html-img-blank/

## aos 

1. [aos 官網](https://michalsnik.github.io/aos/)
2. [基本範例](https://codepen.io/liao/pen/PoPXKvm)
3. [第三週同學範例](https://rpg.hexschool.com/task/107/show)

事前準備 1，參考強者同學 ...

Winnie Wu #5468

https://github.com/Winnie083/week7/blob/master/app/index.html

https://winnie083.github.io/week7/

事前準備 2 ，老師上課的範例

https://hackmd.io/r_xVW_3WTGOr_88lPlIHeA

https://codepen.io/liao/pen/BaovZRg

https://codepen.io/kancheng/pen/xxWeXoY

    -->
    <%- contents %>
</body>
    <script type="text/javascript" >
     // AOS.init();
     AOS.init({
  // Global settings:
  disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
  startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
  initClassName: 'aos-init', // class applied after initialization
  animatedClassName: 'aos-animate', // class applied on animation
  useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
  disableMutationObserver: false, // disables automatic mutations' detections (advanced)
  debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
  throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
  
  // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
  offset: 120, // offset (in px) from the original trigger point
  delay: 0, // values from 0 to 3000, with step 50ms
  duration: 400, // values from 0 to 3000, with step 50ms
  easing: 'ease', // default easing for AOS animations
  once: false, // whether animation should happen only once - while scrolling down
  mirror: false, // whether elements should animate out while scrolling past them
  anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
});
    </script>
</html>
