<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all-w1.css">
    <style type="text/css"></style>
</head>
<body>
    <!-- https://xd.adobe.com/view/ea9b77e8-282b-44dd-b785-8d59a751eeda-bfc8/ -->
    <!-- https://tzuhui.github.io/2020/01/08/HTML/html-img-blank/ -->
    <%- contents %>
</body>
</html>
